<%- include('partials/nav') -%>
<%- include('partials/header') -%>


<section class="category-container flex">
        <div>
            <ul class="flex gap-10">
                <li class="category-list">
                    <div>
                        <i class="ph-books mb-4" style="color: #818181; font-size: 24px;"></i>
                        <p class="cat-text cat-text-books">Books</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       <i class="ph-laptop mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Gadgets</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div class="">

                        <i class="ph-t-shirt mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                        <p class="cat-text">Clothes</p>
                    </div>
                </li>
                <li class="category-list ">
                    <div>
                       <i class="ph-armchair mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Antiques</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       <i class="ph-wine mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text cat-text-drinks">Drinks</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                        <i class="ph-device-mobile mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                        <p class="cat-text">Phones</p>
                    </div>
                </li>
                <li class="category-list">

                    <div>
                        <i class="ph-watch mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                        <p class="cat-text">Jewellery</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>

                       <i class="ph-gender-female mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Beauty</p> 

                    </div>
                </li>
                <li class="category-list">
                    <div>

                       <i class="ph-toilet mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Household</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>

                       <i class="ph-toilet-paper mb-4" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Supplies</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       <i class="ph-flower-lotus mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Plants</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>

                       <i class="ph-wrench ml-3 mb-4" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Tools</p> 
                    </div>
                </li>
            </ul>

        </div>
    </section>

    <main class="main-section">
        <section class="flex gap-2 top-rated">
            <span><i class="ph-star-fill top-rated-icon" style="color: #F6BE4F; font-size: 20px;"></i></span>
            <p class="top-rated-text">Top Rated Vendors</p>
        </section>

        <section class="main-container block mt-5">
            <ul>
                <% for(var i=0; i<vendors.length; i++) {%>
                <li class="mb-9">
                    <section class=" vendor-container mb-5">
                        <section class="flex second-vendor-container gap-4">
                            <!-- avatar section -->
                            <div class="vendor-avatar">
                                <img src="<%= vendors[i].image%>" class="justify-center avatar-img" alt="">
                            </div>

                            <!-- info section -->
                            <section class="vendor-detail-container">
                                <section class="vendor-info block">
                                    <div class="flex gap-2">
                                        <h2 class="vendor-name"><%= vendors[i].businessName.charAt(0).toUpperCase() + vendors[i].businessName.slice(1)%></h2>

                                        <span class="vendor-reviews flex">
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i> 

                                             Reviews
                                        </span>
                                    </div>
                                    <div class="vendor-category">
                                        <p><%= vendors[i].businessCategory + ', ' + vendors[i].subCategory%></p> 
                                    </div>
                                    <div class="flex mt-2 vendor-address">
                                            <textarea class="js-copytextarea vendor-directions"><%= vendors[i].streetAddress + ', ' + vendors[i].city + ', ' + vendors[i].state%></textarea>
                                            <button class="js-textareacopybtn copy-btn"><span><i class="ph-fill ph-copy" style="color: #48B8C6;"></i></span></button>
                                    </div>
                                    <div class="vendor-about">
                                        <p><%= vendors[i].businessDetail %> <br></p>
                                    </div>
                                </section>

                                <!-- contact section -->
                                <section class="contact-section">
                                    <section class="flex gap-4">
                                        <div class="icon-border">
                                            <a href="tel:<%= vendors[i].phoneNumber%>"> <i class="ph-phone-fill icon-img"></i></a>
                                        </div>
                                        <div class="icon-border">
                                            <a href="https://<%= vendors[i].websiteLink%>" target="_blank"> <i class="ph-link-fill icon-img"></i></a>
                                        </div>
                                        <div class="icon-border">
                                        <a href="#"> <i class="ph-bookmark-simple-fill icon-img"></i></a>
                                        </div>
                                    </section>
                                    <section >
                                        <div class="flex gap-3 mt-4">
                                            <p class="vendor-hours">Open <span class="vendor-time"> till <%= vendors[i].closeTime%></span></p>

                                        </div>

                                    </section>

                                </section>
                            </section>

                        </section>

                    </section>
                </li>
            </ul>
            <% } %>

        </section>

    </main>
    <script src="/main.js"></script>

<%- include('partials/footer') -%>