<%- include('partials/nav') -%>


    <section>
        <div class="profile-background">
            <h1 class="account-text">My Account</h1>
            <div class="flex gap-6 menu-items">
                <a href="/profile" class="active">Profile</a>
                <a href="/businessprofile">Business Profile</a>
                <a href="/security">Security</a>
            </div>
        </div>

    </section>

    <section class="user-info">
        
        <form class="space-y-6">
            <h2 class="basic-info-text">Basic Info</h2>
            <section class="flex row ">
                <div class="">
                    <label for="firstName" class="info-label"></label>
                    <input type="text" name="firstName" id="firstName" class="name-field form-control profile-input rounded-lg " placeholder="<%= user.firstName %>" required="" disabled>
                </div>
                <div class="">
                    <label for="lastName" class=""></label>
                    <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="<%= user.lastName %>" required="" disabled>
                </div>
            </section>
        
            <div class=" email-field">
                <label for="inputEmail" class=""></label>
                <input type="email" name="email" id="inputEmail" class="password-field form-control profile-input rounded-lg" placeholder="<%= user.email %>" required="" disabled>
            </div>
            <div class="profile-border"></div>
        </form>

        <form action="/signup" enctype="multipart/form-data" method="POST">
            <section class="">
                <p class="profile-text">Profile Photo</p>
                <section>
                    <section class="flex upload-section" >
                        <div>
                            <div class="avatar-bg profile-avatar">
                                <img src="./images/avatar.png" alt="">
                            </div>
                            <div class="flex gap-3 avatar-discard-remove">
                                <p class="avatar-discard-text">Discard</p>
                                <span>|</span>
                                <p class="avatar-discard-text">Remove</p>
                            </div>
                        </div>
                        <div>
                            <button type="file" class="">
                                <label for="imgUpload" class="form-label"></label>
                                <div class="upload-bg profile-upload-button">
                                    <i class="ph-camera upload-icon" style="font-size: 24px;"></i>
                                    <p class="upload-text">Click or drag <br> to upload</p>
                                </div>
                            </button>
                        </div>
                        
                    </section>
                    <section>
                        <p class="avatar-section-text"> - or choose a new avatar - </p>
                        <ul class="flex">
                            <li class="mr-2.5">
                                <div class="avatar-bg-small">
                                    <a href=""><img src="./images/Avatar1.png" alt=""></a>
                                </div>
                                
                            </li>
                            <li class="mr-2.5">
                                <div class="avatar-bg-small">
                                    <a href=""><img src="./images/Avatar2.png" alt=""></a>
                                </div>
                                
                            </li>
                            <li class="mr-2.5">
                                <div class="avatar-bg-small">
                                    <a href=""><img src="./images/Avatar3.png" alt=""></a>
                                </div>
                                
                            </li>
                            <li class="mr-2.5">
                                <div class="avatar-bg-small">
                                    <a href=""><img src="./images/Avatar4.png" alt=""></a>
                                </div>
                                
                            </li>
                            <li class="mr-2.5">
                                <div class="avatar-bg-small">
                                    <a href=""><img src="./images/Avatar5.png" alt=""></a>
                                </div>
                                
                            </li class="mr-2.5">
                            <li>
                                <div class="avatar-bg-small">
                                    <a href=""><img src="./images/Avatar6.png" alt=""></a>
                                </div>
                                
                            </li>
                        
                        </ul>
                    </section>
                    <section class="flex row mt-16 ">
                        <div class="btn-section mb-20">
                            <button class="discard-btn mr-2.5" type="submit">Discard</button>
                            <button class="save-btn" type="submit">Save Changes</button>
                        </div>
                        
                    </section>
                    
                </section>
            </section>
            
        </form>
    </section>
    
  

<%- include('partials/footer') -%>