<%- include('partials/nav') -%>


    <section>
        <div class="profile-background">
            <h1 class="account-text">My Account</h1>
            <div class="flex gap-6 menu-items">
                <a href="/profile" class="active">Profile</a>
                <a href="/businessprofile">Business Profile</a>
                <a href="/security">Security</a>
            </div>
        </div>

    </section>

    <section class="user-info">
        
        <form class="space-y-6">
            <h2 class="basic-info-text">Basic Info</h2>
            <section class="flex flex-row ">
                <div class="">
                    <label for="firstName" class="info-label"></label>
                    <input type="text" name="firstName" id="firstName" class="name-field form-control profile-input rounded-lg " placeholder="<%= user.firstName %>" required="" disabled>
                </div>
                <div class="">
                    <label for="lastName" class=""></label>
                    <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="<%= user.lastName %>" required="" disabled>
                </div>
            </section>
        
            <div class=" email-field">
                <label for="inputEmail" class=""></label>
                <input type="email" name="email" id="inputEmail" class="password-field form-control profile-input rounded-lg" placeholder="<%= user.email %>" required="" disabled>
            </div>
        </form>

        <form action="/signup" enctype="multipart/form-data" method="POST">
            <section class="flex">
                <section>
                 
                </section>
                
               
                <section class="flex gap-6 save-profile-section">
                </section>
                
            </section>
        </form>
    </section>
    
  

<%- include('partials/footer') -%>